node_modules/
*.log
.eslintcache
backend/.generated/ios/**
backend/.generated/android/**
backend/.generated/androidrx/**
backend/.generated/kotlin/**
backend/.generated/iosSwift/**
*.local.json
build/
webpack-assets.json
.happypack
.vscode
.DS_Store
backend/.import
.nvmrc
dist/
